* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 30px;
  font-family: sans-serif;
  line-height: 1.5;

  max-width: 60%;
  margin: 5% auto 0;
}

.App-title {
  font-size: 1.5em;
}

.App-input {
  margin-top: 20px;
}

.App-input-style {
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.Clock-days,
.Clock-hours,
.Clock-minutes,
.Clock-seconds {
  display: inline-block;
  margin-right: 20px;
}
.Clock-seconds {
  margin-right: 0;
}

.App-logo {
  width: 20%;
  height: auto;
}
